%width-limit{
	min-width: 260px;
	max-width: 360px;
}

#cont {
	display: inline-block;
	margin: 50px 5%;
	width: 90%;
	height: 100%;
}

#forminputs {
	width: 30%;
	margin-right: 2.5%;
	display: inline-block;
	@extend %width-limit;
}

#tablediv {
	width: 60%;
	min-width: 360px;
	height: 70%;
	margin: 7px;
	display: inline-block;
	position: absolute;
	border: 2px solid rgb(15, 119, 223);
	@media only screen and (max-width: 950px) {
		width: 50%;
		
	}
}

#sentence {
	width: 30%;
	margin-top: 20vh;
	@extend %width-limit;
	@media only screen and (max-height: 640px) {
		margin-top: 10vh;
	}
}