#cont {
	display: inline-block;
	margin: 50px 5%;
	width: 90%;
	height: 100%;
}

#forminputs {
	width: 30%;
	min-width: 260px;
	max-width: 360px;
	margin-right: 2.5%;
	display: inline-block;
}

#tablediv {
	width: 60%;
	height: 80%;
	margin: 7px;
	display: inline-block;
	position: absolute;
	border: 2px solid rgb(15, 119, 223);
}

#sentence {
	width: 30%;
	margin-top: 25vh;
}