$coolblue: rgba(15, 119, 223,.9);
%marbor {
	margin: 0.5em 0;
	border: 2px solid $coolblue;
}

#form {
	width: 100%;

	p {
		display: inline-block;
		width: 30%;
		margin: 5px 0px;
		color: $coolblue;
	}

	input {
		width: 60%;
		height: 1.8em;
		@extend %marbor;
	}

	select{
		width: 61.5%;
		height: 2.25em;
		background-color: white;
		color: $coolblue;
		@extend %marbor;

		option{
			color: $coolblue;
		}		
	}

	button {
		height: 2.3em;
		width: 30%;
		margin: 3em 10% 1em 60%;	
		border: 2px solid $coolblue;
		padding: 0;
		background-color: rgb(220, 220, 220);
		color: $coolblue;
		font-weight: bold;
	}

	::placeholder{
		color: $coolblue;
	}
}