$coolblue: rgba(15, 119, 223,.9);
%marbor {
	margin: 0.5em 0;
	border: 2px solid $coolblue;
}

#form {
	width: 400px;

	p {
		display: inline-block;
		width: 5em;
		margin: 5px 2px;
		color: $coolblue;
	}

	input {
		width: 15em;
		height: 1.8em;
		@extend %marbor;
	}

	select{
		width: 15.3em;
		height: 2.25em;
		background-color: white;
		color: $coolblue;
		@extend %marbor;

		option{
			color: $coolblue;
		}		
	}

	button {
		height: 2.3em;
		width: 9em;
		margin: 3em 0 1em 12.5em;	
		border: 2px solid $coolblue;
		background-color: rgb(220, 220, 220);
		color: $coolblue;
		font-weight: bold;
	}

	::placeholder{
		color: $coolblue;
	}
}